<h1>Login</h1>
<div style="margin-left: 35px;">
<% form_for @author_session, :url => sessions_path do |f| %>
  <%= f.error_messages %>
  Username
  <%= f.text_field :login %> <br />
  <br />
  <%= f.label :password %>
  <%= f.password_field :password %><br />
  <br />
  <%= f.check_box :remember_me %><%= f.label :remember_me, nil, :style => "display: inline-block; margin-left: 5px;" %>
  <br />
  <%= f.submit "Login" %>
<% end %>
</div>
