<h2 class='blog-title'>Post Comment</h2>
<% form_remote_for(:comment, :url      => {:controller => :comments, :action => :create, :article_id => article.id},
                             :update   => {:success => 'blog-comments', :failure => 'error-messages'},
                             :position => :bottom,
                             :before => 'clearErrors()' ) do |f|%>
  <div id="error-messages" style="margin-left: 20px">
  </div>
  <p class="new-comment-email">
    <%= f.label :email %> <%= f.text_field :email %>
  </p>
  <p class="new-comment-body">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  <%= f.hidden_field :comment_date, :value => "#{DateTime.now.strftime("%Y%m%d%H%M%S")}" %>
  <%= f.submit "Post Comment", :onmousedown => 'saveMCE()' %>
<% end %>
