<h1>From <%= @comment.email%></h1>
<div class="toppadding">
  <p>
    Body: <%= @comment.body %>
  </p>
  <p>
    Comment Date: <%= @comment.comment_date %>
  </p>
  <p>
    Article: <%= Article.find(@comment.article_id).title %>
  </p>
  <p>
    <%= link_to "Back to Comments Index", comments_path %>
    <%= link_to "Delete", @comment, :confirm => "Are you sure you wane to delete this comment?", :method => :delete %>
  </p>
</div>
