<p>
  <%= f.label :title, nil, :class => "form" %>
  <%= f.text_field :title, :class => "form" %>
</p>
<p class="form">
  <%= f.label :body, nil, :class => "form" %>
  <%= f.text_area :body%>
</p>
<p class="form">
  <%= f.label :status, nil, :class => "form" %>
  <%= collection_select(:article, :status, Article.statuses, :to_s, :to_s) %>
</p>
<p class="form">
  <%= f.label :author, nil, :class => "form" %>
  <%= collection_select(:article, :author_id, Author.all, :id, :full_name) %>
</p>
<%= f.hidden_field :date_posted, :value => "#{DateTime.now.strftime("%Y%m%d%H%M%S")}" %>
