<p>
  <%= f.label :title, nil, :class => "form" %>
  <%= f.text_field :title, :class => "form" %>
</p>
<p class="form">
  <%= f.label :body, nil, :class => "form" %>
  <%= f.text_area :body, :class => "form" %>
</p>
<p class="form" style="margin-top: 10px;">
  <%= f.label :status, nil, :class => "form" %>
  <%= collection_select(:article, :status, Article::STATUSES, :to_s, :to_s) %>
</p>
<p class="form">
  <%= f.label :author, nil, :class => "form" %>
  <%= collection_select(:article, :author_id, Author.all, :id, :full_name) %>
</p>
