<h1>List of All Articles</h1>
<div class="toppadding">
  <% if @articles.nitems != 0 %>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr id="head">
      <th>Title</th>
      <th>Body</th>
      <th>Status</th>
      <th>Author</th>
      <th colspan="4">Date Posted</th>
    </tr>
    <% i = 0 %>
    <% @articles.each do |article|%>
    <tr class="<%= i % 2 == 1 ? "rowodd" : "roweven" %>">
      <td><%= truncate(article.title, :length => 10) %></td>
      <td><%= truncate(article.body, :length => 10) %></td>
      <td><%= article.status %></td>
      <td><%= Author.find(article.author_id).full_name %></td>
      <td><%= article.date_posted %></td>
      <td style="vertical-align: middle; text-align: center; width: 50px"><%= link_to "Edit", edit_article_path(article), :class => "offlink" %></td>
      <td style="vertical-align: middle; text-align: center; width: 50px"><%= link_to "Show", article_path(article), :class => "offlink" %></td>
      <td style="vertical-align: middle; text-align: center; width: 50px"><%= link_to "Delete", article, :confirm => "Are you sure you wane to delete article \"#{article.title}\"?", :method => :delete, :class => "offlink" %></td>
    </tr>
    <% i += 1 %>
    <% end %>
  </table>
  <% end %>
<hr/>
<%= link_to "Create New Article", new_article_path, :style => "float: right; margin-right: 10px;" %>
</div>
