<div class='blog-entry'>
  <h2 class='blog-title'><%= @article.title %></h2>
  <h4 class='blog-author'>
    <%= formatted_date_posted(@article) %> by <%= full_name(@article.author)  %>
    <%= render :partial => 'article_controls', :locals => {:article => @article, :like_status => nil} %>
  </h4>
  <div class='blog-body'>
    <%= @article.body %>
  </div>
  <div style='text-align: center'>
    <%= link_to 'Hide Comments', "javascript:displayAll('hide')", :id => "clink" %>
  </div>
  <div id="blog-comments" class='blog-comments'>
    <%= retrieve_article_comments(@article) %>
    <%= render :partial => 'comments/part', :locals => {:comment => @comments, :article => @article}%>
  </div>
</div>
