<div class='blog-entry'>
  <h2 class='blog-title'><%= @article.title %></h2>
  <h4 class='blog-author'>
    <%= formatted_date_posted(@article) %> by <%= full_name(@article.author)  %>
    <%= render :partial => 'articles/article_controls', :locals => {:article => @article, :like_status => nil} %>
  </h4>
  <div class='blog-body'>
    <%= @article.body %>
  </div>
  <div id='first-comment-post'>
    <%= retrieve_article_comments(@article, true) unless @article.comments.nitems == 1%>
  </div>
  <div id='blog-post-comment' class='blog-post-comment'>
    <%= render :partial => 'comments/part', :locals => {:comment => @comments, :article => @article}%>
  </div>
</div>
