<h1><%= @article.title %></h1>
<div class="toppadding">
  <p>
    Body: <%= @article.body %>
  </p>
  <p>
    Status: <%= @article.status %>
  </p>
  <p>
    Author: <%= Author.find(@article.author_id).full_name %>
  </p>
  <p>
    Date Posted: <%= @article.date_posted %>
  </p>
  <p>
    <%= link_to "Back to Articles Index", articles_path %>
    <%= link_to "Edit Article", edit_article_path(@article)%>
    <%= link_to "Delete", @article, :confirm => "Are you sure you wane to delete article \"#{@article.title}\"?", :method => :delete %>
  </p>
</div>
